/* Colors */

.bg-black{
  background: $black;
}
.bg-white{
  background: $white;
}
.bg-light-grey{
  background: $lightgrey;
}

@media only screen and (min-width: $md) {

}
@media only screen and (min-width: $lrg) {

}
@media only screen and (min-width: $xlrg) {

}