
.bg-black,
.black-bordered-box{
  a{
    color: $white;
  }
  nav{
    a{
      color: $white;
    }
  }
}
.bg-white,
.white-bordered-box{
  a{
    color: $black;
  }
  nav{
    a{
      color: $black;
    }
  }
}
