/* Grid 12
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#grid12{
  .s1              { width: 8.333%;  }
  .s2              { width: 16.666%; }
  .s3              { width: 25%;     }
  .s4              { width: 33.333%; }
  .s5              { width: 41.666%; }
  .s6              { width: 50%;     }
  .s7              { width: 58.333%; }
  .s8              { width: 66.666%; }
  .s9              { width: 75%;     }
  .s10             { width: 83.333%; }
  .s11             { width: 91.666%; }
  .s12             { width: 100%;    }

  /* Offsets */
  .offset-s1       { margin-left: 8.333%;  }
  .offset-s2       { margin-left: 16.666%; }
  .offset-s3       { margin-left: 25%;     }
  .offset-s4       { margin-left: 33.333%; }
  .offset-s5       { margin-left: 41.666%; }
  .offset-s6       { margin-left: 50%;     }
  .offset-s7       { margin-left: 58.333%; }
  .offset-s8       { margin-left: 66.666%; }
  .offset-s9       { margin-left: 75%;     }
  .offset-s10      { margin-left: 83.333%; }
  .offset-s11      { margin-left: 91.666%; }

  /* Outsets */
  .outset-s1       { margin-right: 8.333%;  }
  .outset-s2       { margin-right: 16.666%; }
  .outset-s3       { margin-right: 25%;     }
  .outset-s4       { margin-right: 33.333%; }
  .outset-s5       { margin-right: 41.666%; }
  .outset-s6       { margin-right: 50%;     }
  .outset-s7       { margin-right: 58.333%; }
  .outset-s8       { margin-right: 66.666%; }
  .outset-s9       { margin-right: 75%;     }
  .outset-s10      { margin-right: 83.333%; }
  .outset-s11      { margin-right: 91.666%; }


  /* For devices larger than 550px */
  @media (min-width: $sm) {

    .m1              { width: 8.333%;  }
    .m2              { width: 16.666%; }
    .m3              { width: 25%;     }
    .m4              { width: 33.333%; }
    .m5              { width: 41.666%; }
    .m6              { width: 50%;     }
    .m7              { width: 58.333%; }
    .m8              { width: 66.666%; }
    .m9              { width: 75%;     }
    .m10             { width: 83.333%; }
    .m11             { width: 91.666%; }
    .m12             { width: 100%;    }

    /* Offsets */
    .offset-m0       { margin-left: 0;  }
    .offset-m1       { margin-left: 8.333%;  }
    .offset-m2       { margin-left: 16.666%; }
    .offset-m3       { margin-left: 25%;     }
    .offset-m4       { margin-left: 33.333%; }
    .offset-m5       { margin-left: 41.666%; }
    .offset-m6       { margin-left: 50%;     }
    .offset-m7       { margin-left: 58.333%; }
    .offset-m8       { margin-left: 66.666%; }
    .offset-m9       { margin-left: 75%;     }
    .offset-m10      { margin-left: 83.333%; }
    .offset-m11      { margin-left: 91.666%; }

    /* Outsets */
    .outset-m0       { margin-right: 0;  }
    .outset-m1       { margin-right: 8.333%;  }
    .outset-m2       { margin-right: 16.666%; }
    .outset-m3       { margin-right: 25%;     }
    .outset-m4       { margin-right: 33.333%; }
    .outset-m5       { margin-right: 41.666%; }
    .outset-m6       { margin-right: 50%;     }
    .outset-m7       { margin-right: 58.333%; }
    .outset-m8       { margin-right: 66.666%; }
    .outset-m9       { margin-right: 75%;     }
    .outset-m10      { margin-right: 83.333%; }
    .outset-m11      { margin-right: 91.666%; }

  }

  /* For devices larger than 1025px */
  @media (min-width: $lrg) {

    .l1              { width: 8.333%;  }
    .l2              { width: 16.666%; }
    .l3              { width: 25%;     }
    .l4              { width: 33.333%; }
    .l5              { width: 41.666%; }
    .l6              { width: 50%;     }
    .l7              { width: 58.333%; }
    .l8              { width: 66.666%; }
    .l9              { width: 75%;     }
    .l10             { width: 83.333%; }
    .l11             { width: 91.666%;  }
    .l12             { width: 100%;    }

    /* Offsets */
    .offset-l0       { margin-left: 0;  }
    .offset-l1       { margin-left: 8.333%;  }
    .offset-l2       { margin-left: 16.666%; }
    .offset-l3       { margin-left: 25%;     }
    .offset-l4       { margin-left: 33.333%; }
    .offset-l5       { margin-left: 41.666%; }
    .offset-l6       { margin-left: 50%;     }
    .offset-l7       { margin-left: 58.333%; }
    .offset-l8       { margin-left: 66.666%; }
    .offset-l9       { margin-left: 75%;     }
    .offset-l10      { margin-left: 83.333%; }
    .offset-l11      { margin-left: 91.666%; }

    /* Outsets */
    .outset-l0       { margin-right: 0;  }
    .outset-l1       { margin-right: 8.333%;  }
    .outset-l2       { margin-right: 16.666%; }
    .outset-l3       { margin-right: 25%;     }
    .outset-l4       { margin-right: 33.333%; }
    .outset-l5       { margin-right: 41.666%; }
    .outset-l6       { margin-right: 50%;     }
    .outset-l7       { margin-right: 58.333%; }
    .outset-l8       { margin-right: 66.666%; }
    .outset-l9       { margin-right: 75%;     }
    .outset-l10      { margin-right: 83.333%; }
    .outset-l11      { margin-right: 91.666%; }

  }
}
