nav{
    position: absolute;
    top:79px;
    left:-100%;
    display: block;
    background-color: $black;
    width:100%;
    transition: left 500ms ease-in-out;
    &.is-active{
        left:0;
    }
}
nav ul{
    position: relative;
    margin: 0;
    padding: 20px 0;
}
nav ul li{
    text-transform: uppercase;
    font-weight: 300;
    padding: 5px 0 5px 20px;
    margin: 0;
    text-align: left;
    font-size: 1em;
}
nav ul li:last-child{
    display: block;
}
nav ul li a{
    display:block;
    padding: 5px 0;
    text-decoration: none;
    color: $white;
}
nav ul li a:hover,
nav ul li a.menuactive{
    background: none;
}

nav ul li ul{
    position: relative;
    left:0;
    top:0;
    width:100%;
    margin-bottom: 10px;
}
nav ul li ul li{
    display: block;
    border-bottom:none;
}
nav ul ul li a{
    display: block;
    padding: 4px 0;
}
nav ul ul li a:hover,
nav ul ul li a.active{
    text-decoration: none;
}
.hamburger {
    position: absolute;
    top:12px;
    left:10px;
    outline: none;
    transition: top 500ms ease-in-out;
    &.is-active {
        .hamburger-inner {
            background-color: $black;

            &::after,
            &::before {
                background-color: inherit;
            }
        }
    }
    .hamburger-inner{
        background-color: $black;
        &::after,
        &::before{
            background-color: inherit;
        }
    }
}


/* Large size (Tablet landscape and higher) */
@media (min-width: $md) {
    .hamburger{
        top:60px;
    }

    nav{
        max-width:250px;
        top:179px;
        left:-250px;
    }
    .sticky{
        .hamburger{
            top:12px;
        }
        nav{
            top:80px
        }
    }
}
