@mixin transitionBg($speed) {
    -webkit-transition: all $speed ease;
    -moz-transition: all $speed ease;
    -o-transition: all $speed ease;
    transition: all $speed ease; 
}  

@mixin boxSizingStyle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;     
}

@mixin transitionHeight($speed) {
    -webkit-transition: max-height $speed ease-out;
    -moz-transition: max-height $speed ease-out;
    -o-transition: max-height $speed ease-out;
    transition: max-height $speed ease-out;
}

@mixin transition($speed) {
    -webkit-transition: height $speed ease-in-out;
    -moz-transition: height $speed ease-in-out;
    -o-transition: height $speed ease-in-out;
    transition: height $speed ease-in-out;    
}