table{
    width:100%;
}
tbody{

}
td, th{
    border-right:1px solid $lightgrey;
    border-bottom:1px solid $lightgrey;
    vertical-align: top;
}
td,th{
    &:last-child{
        border-right:none;
    }
}
tfoot{

}
th{

}
thead{

}
tr {
    &:last-child {
        td,th{
            border-bottom: none;
        }
    }
}

/* Medium size (Tablet portrait and higher) */
@media (min-width: $md) {


}
/* Large size (Tablet landscape and higher) */
@media (min-width: $lrg) {


}
/* Large size (Tablet landscape and higher) */
@media (min-width: $xlrg) {

}