/* Text */

body{
    font-family: $sanserif;
    font-size: 100%;
    line-height: 130%;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    line-height:120%;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h1{
    font-size: 1.7rem;
}
h2{
    font-size: 1.7rem;

}
h3{
    font-size: 1.2rem;

}
h4{
    font-size: 1rem;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: 1.2rem;
}
.align-left{
    h1,h2,h3,h4,h5,h6{
        text-align: left !important;
    }
}
.align-right{
    h1,h2,h3,h4,h5,h6{
        text-align: left !important;
    }
}
.align-center{
    h1,h2,h3,h4,h5,h6{
        text-align: center !important;
    }
}
p{
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: 15px;
}
b,strong{
    font-weight:bold;
}
i,em{

}
sup{

}
sub{

}
a{
    color: $black;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

/* Lists */

ul,ol{
	margin-left: 20px;
}
ul{
	list-style-type: none;
    margin-left: 0;
    li{
        list-style: none;
        padding-left: 15px;
        &:before{
            content: '+ ';
            margin-left: -15px;
        }
    }
}
ol{
    li {
    }
}

#header{
}
#footer{
}

/* Special */

blockquote, q{

}

abbr{

}
address{

}
caption{

}
cite{

}
code{

}
s,del{

}
details{

}

figcaption{

}
figure{

}
hr{

}
ins{

}
mark{

}
pre{

}
small{

}
span{

}
u {
}

/* Medium size (Tablet portrait and higher) */
@media (min-width: $md) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.9rem;
    }
    h3{
        font-size: 1.2rem;

    }
    h5{
        font-size: 1.1rem;
    }
    h4{
        font-size: 1rem;
    }
    h6{
        font-size: 0.9rem;
    }
    p{
        font-size: 1rem;
    }

}
/* Large size (Tablet landscape and higher) */
@media (min-width: $lrg) {


}
/* Large size (Tablet landscape and higher) */
@media (min-width: $xlrg) {

}