$xlrg: 1500px;
$lrg: 1100px;
$md: 650px;
$sm: 480px;

$white: #FFFFFF;
$black: #000000;
$grey: #666666;
$lightgrey: #999999;
$red: red;

$bxs: 5px;
$bs: 10px;
$bm: 15px;
$bl: 20px;
$bxl: 30px;
$bxxl:50px;


$sanserif: Helvetica, Arial, sans-serif;
$serif: Times, "Times New Roman", serif;